adflab-demos/PartialArmTemplates/ArmTemplate_12_2_2019_15_57_35.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adflab-demos"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Booking Data from SAP",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SapTableSource",
								"rfcTableOptions": "",
								"customRfcReadTableFunctionModule": "",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"maxConcurrentConnections": 1
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "MANDT",
											"type": "String"
										},
										"sink": {
											"name": "MANDT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CARRID",
											"type": "String"
										},
										"sink": {
											"name": "CARRID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CONNID",
											"type": "String"
										},
										"sink": {
											"name": "CONNID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FLDATE",
											"type": "String"
										},
										"sink": {
											"name": "FLDATE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BOOKID",
											"type": "String"
										},
										"sink": {
											"name": "BOOKID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CUSTOMID",
											"type": "String"
										},
										"sink": {
											"name": "CUSTOMID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CUSTTYPE",
											"type": "String"
										},
										"sink": {
											"name": "CUSTTYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SMOKER",
											"type": "String"
										},
										"sink": {
											"name": "SMOKER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LUGGWEIGHT",
											"type": "Decimal"
										},
										"sink": {
											"name": "LUGGWEIGHT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "WUNIT",
											"type": "String"
										},
										"sink": {
											"name": "WUNIT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "INVOICE",
											"type": "String"
										},
										"sink": {
											"name": "INVOICE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CLASS",
											"type": "String"
										},
										"sink": {
											"name": "CLASS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FORCURAM",
											"type": "Decimal"
										},
										"sink": {
											"name": "FORCURAM",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "FORCURKEY",
											"type": "String"
										},
										"sink": {
											"name": "FORCURKEY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LOCCURAM",
											"type": "Decimal"
										},
										"sink": {
											"name": "LOCCURAM",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LOCCURKEY",
											"type": "String"
										},
										"sink": {
											"name": "LOCCURKEY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ORDER_DATE",
											"type": "String"
										},
										"sink": {
											"name": "ORDER_DATE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "COUNTER",
											"type": "String"
										},
										"sink": {
											"name": "COUNTER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AGENCYNUM",
											"type": "String"
										},
										"sink": {
											"name": "AGENCYNUM",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CANCELLED",
											"type": "String"
										},
										"sink": {
											"name": "CANCELLED",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RESERVED",
											"type": "String"
										},
										"sink": {
											"name": "RESERVED",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PASSNAME",
											"type": "String"
										},
										"sink": {
											"name": "PASSNAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PASSFORM",
											"type": "String"
										},
										"sink": {
											"name": "PASSFORM",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PASSBIRTH",
											"type": "String"
										},
										"sink": {
											"name": "PASSBIRTH",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SAP_SBook",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "STG_SAP_SBook",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Merge-Denormalize SAP Data",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy Booking Data from SAP",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy Customer Data from SAP",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy Flight Data from SAP",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow1",
								"type": "DataFlowReference"
							}
						}
					},
					{
						"name": "Copy Customer Data from SAP",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SapTableSource",
								"rfcTableOptions": "",
								"customRfcReadTableFunctionModule": "",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "MANDT",
											"type": "String"
										},
										"sink": {
											"name": "MANDT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ID",
											"type": "String"
										},
										"sink": {
											"name": "ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NAME",
											"type": "String"
										},
										"sink": {
											"name": "NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FORM",
											"type": "String"
										},
										"sink": {
											"name": "FORM",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "STREET",
											"type": "String"
										},
										"sink": {
											"name": "STREET",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "POSTBOX",
											"type": "String"
										},
										"sink": {
											"name": "POSTBOX",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "POSTCODE",
											"type": "String"
										},
										"sink": {
											"name": "POSTCODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CITY",
											"type": "String"
										},
										"sink": {
											"name": "CITY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "COUNTRY",
											"type": "String"
										},
										"sink": {
											"name": "COUNTRY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REGION",
											"type": "String"
										},
										"sink": {
											"name": "REGION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TELEPHONE",
											"type": "String"
										},
										"sink": {
											"name": "TELEPHONE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CUSTTYPE",
											"type": "String"
										},
										"sink": {
											"name": "CUSTTYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DISCOUNT",
											"type": "String"
										},
										"sink": {
											"name": "DISCOUNT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LANGU",
											"type": "String"
										},
										"sink": {
											"name": "LANGU",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "EMAIL",
											"type": "String"
										},
										"sink": {
											"name": "EMAIL",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "WEBUSER",
											"type": "String"
										},
										"sink": {
											"name": "WEBUSER",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SAP_SCustom",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "STG_SAP_SCustom",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy Flight Data from SAP",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SapTableSource",
								"rfcTableOptions": "",
								"customRfcReadTableFunctionModule": "",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "MANDT",
											"type": "String"
										},
										"sink": {
											"name": "MANDT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CARRID",
											"type": "String"
										},
										"sink": {
											"name": "CARRID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CONNID",
											"type": "String"
										},
										"sink": {
											"name": "CONNID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FLDATE",
											"type": "String"
										},
										"sink": {
											"name": "FLDATE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PRICE",
											"type": "Decimal"
										},
										"sink": {
											"name": "PRICE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CURRENCY",
											"type": "String"
										},
										"sink": {
											"name": "CURRENCY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PLANETYPE",
											"type": "String"
										},
										"sink": {
											"name": "PLANETYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SEATSMAX",
											"type": "Int32"
										},
										"sink": {
											"name": "SEATSMAX",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SEATSOCC",
											"type": "Int32"
										},
										"sink": {
											"name": "SEATSOCC",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "PAYMENTSUM",
											"type": "Decimal"
										},
										"sink": {
											"name": "PAYMENTSUM",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SEATSMAX_B",
											"type": "Int32"
										},
										"sink": {
											"name": "SEATSMAX_B",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SEATSOCC_B",
											"type": "Int32"
										},
										"sink": {
											"name": "SEATSOCC_B",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SEATSMAX_F",
											"type": "Int32"
										},
										"sink": {
											"name": "SEATSMAX_F",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SEATSOCC_F",
											"type": "Int32"
										},
										"sink": {
											"name": "SEATSOCC_F",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SAP_SFlight",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "STG_SAP_SFlight",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "SAP Data Integration"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/STG_SAP_SBook')]",
				"[concat(variables('factoryId'), '/dataflows/dataflow1')]",
				"[concat(variables('factoryId'), '/datasets/STG_SAP_SCustom')]",
				"[concat(variables('factoryId'), '/datasets/STG_SAP_SFlight')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/STG_SAP_SBook')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzStorageStaging",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SAP Scenario Data Sources"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "SBOOK.txt",
						"folderPath": "STG_Booking",
						"container": "sapdata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "MANDT",
						"type": "String"
					},
					{
						"name": "CARRID",
						"type": "String"
					},
					{
						"name": "CONNID",
						"type": "String"
					},
					{
						"name": "FLDATE",
						"type": "String"
					},
					{
						"name": "BOOKID",
						"type": "String"
					},
					{
						"name": "CUSTOMID",
						"type": "String"
					},
					{
						"name": "CUSTTYPE",
						"type": "String"
					},
					{
						"name": "SMOKER",
						"type": "String"
					},
					{
						"name": "LUGGWEIGHT",
						"type": "String"
					},
					{
						"name": "WUNIT",
						"type": "String"
					},
					{
						"name": "INVOICE",
						"type": "String"
					},
					{
						"name": "CLASS",
						"type": "String"
					},
					{
						"name": "FORCURAM",
						"type": "String"
					},
					{
						"name": "FORCURKEY",
						"type": "String"
					},
					{
						"name": "LOCCURAM",
						"type": "String"
					},
					{
						"name": "LOCCURKEY",
						"type": "String"
					},
					{
						"name": "ORDER_DATE",
						"type": "String"
					},
					{
						"name": "COUNTER",
						"type": "String"
					},
					{
						"name": "AGENCYNUM",
						"type": "String"
					},
					{
						"name": "CANCELLED",
						"type": "String"
					},
					{
						"name": "RESERVED",
						"type": "String"
					},
					{
						"name": "PASSNAME",
						"type": "String"
					},
					{
						"name": "PASSFORM",
						"type": "String"
					},
					{
						"name": "PASSBIRTH",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/STG_SAP_SCustom')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzStorageStaging",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SAP Scenario Data Sources"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "SCUSTOM.txt",
						"folderPath": "STG_Customer",
						"container": "sapdata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "MANDT",
						"type": "String"
					},
					{
						"name": "ID",
						"type": "String"
					},
					{
						"name": "NAME",
						"type": "String"
					},
					{
						"name": "FORM",
						"type": "String"
					},
					{
						"name": "STREET",
						"type": "String"
					},
					{
						"name": "POSTBOX",
						"type": "String"
					},
					{
						"name": "POSTCODE",
						"type": "String"
					},
					{
						"name": "CITY",
						"type": "String"
					},
					{
						"name": "COUNTRY",
						"type": "String"
					},
					{
						"name": "REGION",
						"type": "String"
					},
					{
						"name": "TELEPHONE",
						"type": "String"
					},
					{
						"name": "CUSTTYPE",
						"type": "String"
					},
					{
						"name": "DISCOUNT",
						"type": "String"
					},
					{
						"name": "LANGU",
						"type": "String"
					},
					{
						"name": "EMAIL",
						"type": "String"
					},
					{
						"name": "WEBUSER",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/STG_SAP_SFlight')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzStorageStaging",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SAP Scenario Data Sources"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "SFLIGHT.txt",
						"folderPath": "STG_Flight",
						"container": "sapdata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "MANDT",
						"type": "String"
					},
					{
						"name": "CARRID",
						"type": "String"
					},
					{
						"name": "CONNID",
						"type": "String"
					},
					{
						"name": "FLDATE",
						"type": "String"
					},
					{
						"name": "PRICE",
						"type": "String"
					},
					{
						"name": "CURRENCY",
						"type": "String"
					},
					{
						"name": "PLANETYPE",
						"type": "String"
					},
					{
						"name": "SEATSMAX",
						"type": "String"
					},
					{
						"name": "SEATSOCC",
						"type": "String"
					},
					{
						"name": "PAYMENTSUM",
						"type": "String"
					},
					{
						"name": "SEATSMAX_B",
						"type": "String"
					},
					{
						"name": "SEATSOCC_B",
						"type": "String"
					},
					{
						"name": "SEATSMAX_F",
						"type": "String"
					},
					{
						"name": "SEATSOCC_F",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "STG_SAP_SBook",
								"type": "DatasetReference"
							},
							"name": "Booking"
						},
						{
							"dataset": {
								"referenceName": "STG_SAP_SCustom",
								"type": "DatasetReference"
							},
							"name": "Customer"
						},
						{
							"dataset": {
								"referenceName": "STG_SAP_SFlight",
								"type": "DatasetReference"
							},
							"name": "Flight"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "BOOK_CUSTOMER",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "Join1"
						},
						{
							"name": "Select1"
						}
					],
					"script": "\n\nsource(output(\n\t\tMANDT as string,\n\t\tCARRID as string,\n\t\tCONNID as string,\n\t\tFLDATE as string,\n\t\tBOOKID as string,\n\t\tCUSTOMID as string,\n\t\tCUSTTYPE as string,\n\t\tSMOKER as string,\n\t\tLUGGWEIGHT as string,\n\t\tWUNIT as string,\n\t\tINVOICE as string,\n\t\tCLASS as string,\n\t\tFORCURAM as string,\n\t\tFORCURKEY as string,\n\t\tLOCCURAM as string,\n\t\tLOCCURKEY as string,\n\t\tORDER_DATE as string,\n\t\tCOUNTER as string,\n\t\tAGENCYNUM as string,\n\t\tCANCELLED as string,\n\t\tRESERVED as string,\n\t\tPASSNAME as string,\n\t\tPASSFORM as string,\n\t\tPASSBIRTH as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> Booking\nsource(output(\n\t\tMANDT as string,\n\t\tID as string,\n\t\tNAME as string,\n\t\tFORM as string,\n\t\tSTREET as string,\n\t\tPOSTBOX as string,\n\t\tPOSTCODE as string,\n\t\tCITY as string,\n\t\tCOUNTRY as string,\n\t\tREGION as string,\n\t\tTELEPHONE as string,\n\t\tCUSTTYPE as string,\n\t\tDISCOUNT as string,\n\t\tLANGU as string,\n\t\tEMAIL as string,\n\t\tWEBUSER as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> Customer\nsource(output(\n\t\tMANDT as string,\n\t\tCARRID as string,\n\t\tCONNID as string,\n\t\tFLDATE as string,\n\t\tPRICE as string,\n\t\tCURRENCY as string,\n\t\tPLANETYPE as string,\n\t\tSEATSMAX as string,\n\t\tSEATSOCC as string,\n\t\tPAYMENTSUM as string,\n\t\tSEATSMAX_B as string,\n\t\tSEATSOCC_B as string,\n\t\tSEATSMAX_F as string,\n\t\tSEATSOCC_F as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> Flight\nBooking, Customer join(CUSTOMID == ID,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> Join1\nJoin1 select(mapColumn(\n\t\tCARRID,\n\t\tCONNID,\n\t\tFLDATE,\n\t\tBOOKID,\n\t\tCUSTOMID,\n\t\tSMOKER,\n\t\tLUGGWEIGHT,\n\t\tWUNIT,\n\t\tINVOICE,\n\t\tCLASS,\n\t\tFORCURAM,\n\t\tFORCURKEY,\n\t\tLOCCURAM,\n\t\tLOCCURKEY,\n\t\tORDER_DATE,\n\t\tCOUNTER,\n\t\tAGENCYNUM,\n\t\tCANCELLED,\n\t\tRESERVED,\n\t\tPASSNAME,\n\t\tPASSFORM,\n\t\tPASSBIRTH,\n\t\tMANDT = Customer@MANDT,\n\t\tID,\n\t\tNAME,\n\t\tFORM,\n\t\tSTREET,\n\t\tPOSTBOX,\n\t\tPOSTCODE,\n\t\tCITY,\n\t\tCOUNTRY,\n\t\tREGION,\n\t\tTELEPHONE,\n\t\tCUSTTYPE = Customer@CUSTTYPE,\n\t\tDISCOUNT,\n\t\tLANGU,\n\t\tEMAIL,\n\t\tWEBUSER\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select1\nSelect1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false) ~> sink1"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/STG_SAP_SBook')]",
				"[concat(variables('factoryId'), '/datasets/STG_SAP_SCustom')]",
				"[concat(variables('factoryId'), '/datasets/STG_SAP_SFlight')]"
			]
		}
	]
}