adflab-demos/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adflab-demos"
		},
		"integrationRuntime_integrationRuntimeSAP": {
			"type": "string",
			"metadata": "Integration runtime name",
			"defaultValue": "integrationRuntimeSAP"
		},
		"integrationRuntime_integrationRuntimeSAPJump": {
			"type": "string",
			"metadata": "Integration runtime name",
			"defaultValue": "integrationRuntimeSAPJump"
		},
		"AWS_S3_Source_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AWS_S3_Source'"
		},
		"AzStorageStaging_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzStorageStaging'"
		},
		"Azure DW DB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Azure DW DB'"
		},
		"Azure ODS DB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Azure ODS DB'"
		},
		"HDI_ADFLab_clusterPassword": {
			"type": "secureString",
			"metadata": "Secure string for 'clusterPassword' of 'HDI_ADFLab'"
		},
		"HDI_ADFLab_clusterSshPassword": {
			"type": "secureString",
			"metadata": "Secure string for 'clusterSshPassword' of 'HDI_ADFLab'"
		},
		"HDI_ADFLab_servicePrincipalKey": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalKey' of 'HDI_ADFLab'"
		},
		"SapBw1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SapBw1'"
		},
		"SapTable1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SapTable1'"
		},
		"HDI_ADFLab_properties_typeProperties_hostSubscriptionId": {
			"type": "string",
			"defaultValue": "3d876a73-ff5a-495d-a047-036b3c6846fa"
		},
		"HDI_ADFLab_properties_typeProperties_clusterResourceGroup": {
			"type": "string",
			"defaultValue": "adflab-test2"
		},
		"HDI_ADFLab_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "c1080165-86c7-43ea-9a1a-d470fe632a82"
		},
		"HDI_ADFLab_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "72f988bf-86f1-41af-91ab-2d7cd011db47"
		},
		"HDI_ADFLab_properties_typeProperties_clusterSshUserName": {
			"type": "string",
			"defaultValue": "mesengne"
		},
		"HTTPWeather_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://weather-b362.restdb.io/rest/random-weather-dec-2016"
		},
		"SapBw1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "10.0.0.175"
		},
		"SapBw1_properties_typeProperties_systemNumber": {
			"type": "string",
			"defaultValue": "00"
		},
		"SapBw1_properties_typeProperties_clientId": {
			"type": "string",
			"defaultValue": "000"
		},
		"SapBw1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "mesengne"
		},
		"SapTable1_properties_typeProperties_clientId": {
			"type": "string",
			"defaultValue": "001"
		},
		"SapTable1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "mesengne"
		},
		"SapTable1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "10.0.0.22"
		},
		"SapTable1_properties_typeProperties_systemNumber": {
			"type": "string",
			"defaultValue": "00"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Load Datawarehouse')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DW Truncate Staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_TruncateStaging]"
						},
						"linkedServiceName": {
							"referenceName": "Azure DW DB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ODS Airline to DW",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DW Truncate Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource"
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzStorageStaging",
									"type": "LinkedServiceReference"
								},
								"path": "output"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Code",
											"type": "Int32"
										},
										"sink": {
											"name": "Code",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Airline_Code",
											"type": "String"
										},
										"sink": {
											"name": "Airline_Code",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ODS_Airline",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DW_Staging_Airline",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ODS Airport to DW",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DW Truncate Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource"
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzStorageStaging",
									"type": "LinkedServiceReference"
								},
								"path": "output"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Code",
											"type": "String"
										},
										"sink": {
											"name": "Code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "City_Airport",
											"type": "String"
										},
										"sink": {
											"name": "City_Airport",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ODS_Airport",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DW_Staging_Airport",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ODS Flight to DW",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DW Truncate Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource"
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzStorageStaging",
									"type": "LinkedServiceReference"
								},
								"path": "output"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "YEAR",
											"type": "Int16"
										},
										"sink": {
											"name": "YEAR",
											"type": "Int16"
										}
									},
									{
										"source": {
											"name": "MONTH",
											"type": "Int16"
										},
										"sink": {
											"name": "MONTH",
											"type": "Int16"
										}
									},
									{
										"source": {
											"name": "FL_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "FL_DATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "UNIQUE_CARRIER",
											"type": "String"
										},
										"sink": {
											"name": "UNIQUE_CARRIER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AIRLINE_ID",
											"type": "Int32"
										},
										"sink": {
											"name": "AIRLINE_ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "CARRIER",
											"type": "String"
										},
										"sink": {
											"name": "CARRIER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TAIL_NUM",
											"type": "String"
										},
										"sink": {
											"name": "TAIL_NUM",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FL_NUM",
											"type": "Int32"
										},
										"sink": {
											"name": "FL_NUM",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ORIGIN_AIRPORT_ID",
											"type": "Int32"
										},
										"sink": {
											"name": "ORIGIN_AIRPORT_ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ORIGIN_AIRPORT_SEQ_ID",
											"type": "Int32"
										},
										"sink": {
											"name": "ORIGIN_AIRPORT_SEQ_ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ORIGIN_CITY_MARKET_ID",
											"type": "Int32"
										},
										"sink": {
											"name": "ORIGIN_CITY_MARKET_ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DEST_AIRPORT_ID",
											"type": "Int32"
										},
										"sink": {
											"name": "DEST_AIRPORT_ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DEST_AIRPORT_SEQ_ID",
											"type": "Int32"
										},
										"sink": {
											"name": "DEST_AIRPORT_SEQ_ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DEST_CITY_MARKET_ID",
											"type": "Int32"
										},
										"sink": {
											"name": "DEST_CITY_MARKET_ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DEP_TIME",
											"type": "String"
										},
										"sink": {
											"name": "DEP_TIME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DEP_DELAY",
											"type": "Double"
										},
										"sink": {
											"name": "DEP_DELAY",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "DEP_DELAY_NEW",
											"type": "Double"
										},
										"sink": {
											"name": "DEP_DELAY_NEW",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "TAXI_OUT",
											"type": "Double"
										},
										"sink": {
											"name": "TAXI_OUT",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "WHEELS_OFF",
											"type": "String"
										},
										"sink": {
											"name": "WHEELS_OFF",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "WHEELS_ON",
											"type": "String"
										},
										"sink": {
											"name": "WHEELS_ON",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TAXI_IN",
											"type": "Double"
										},
										"sink": {
											"name": "TAXI_IN",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "ARR_TIME",
											"type": "String"
										},
										"sink": {
											"name": "ARR_TIME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ARR_DELAY",
											"type": "Double"
										},
										"sink": {
											"name": "ARR_DELAY",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "ARR_DELAY_NEW",
											"type": "Double"
										},
										"sink": {
											"name": "ARR_DELAY_NEW",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "CANCELLED",
											"type": "Boolean"
										},
										"sink": {
											"name": "CANCELLED",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "CANCELLATION_CODE",
											"type": "String"
										},
										"sink": {
											"name": "CANCELLATION_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ACTUAL_ELAPSED_TIME",
											"type": "Double"
										},
										"sink": {
											"name": "ACTUAL_ELAPSED_TIME",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "AIR_TIME",
											"type": "Double"
										},
										"sink": {
											"name": "AIR_TIME",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "FLIGHTS",
											"type": "Int32"
										},
										"sink": {
											"name": "FLIGHTS",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DISTANCE",
											"type": "Int32"
										},
										"sink": {
											"name": "DISTANCE",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "CARRIER_DELAY",
											"type": "Double"
										},
										"sink": {
											"name": "CARRIER_DELAY",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "WEATHER_DELAY",
											"type": "Double"
										},
										"sink": {
											"name": "WEATHER_DELAY",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "NAS_DELAY",
											"type": "Double"
										},
										"sink": {
											"name": "NAS_DELAY",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "SECURITY_DELAY",
											"type": "Double"
										},
										"sink": {
											"name": "SECURITY_DELAY",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "LATE_AIRCRAFT_DELAY",
											"type": "Double"
										},
										"sink": {
											"name": "LATE_AIRCRAFT_DELAY",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "DEST_CODE",
											"type": "String"
										},
										"sink": {
											"name": "DEST_CODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ORIGIN_CODE",
											"type": "String"
										},
										"sink": {
											"name": "ORIGIN_CODE",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ODS_Flight",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DW_Staging_Flight",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Blob FAA to DW",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DW Truncate Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzStorageStaging",
									"type": "LinkedServiceReference"
								},
								"path": "output"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "N_Number",
											"type": "String"
										},
										"sink": {
											"name": "N-Number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Serial_Number",
											"type": "String"
										},
										"sink": {
											"name": "Serial Number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Year_MFR",
											"type": "String"
										},
										"sink": {
											"name": "Year MFR",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MFR_Name",
											"type": "String"
										},
										"sink": {
											"name": "MFR-NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Model_Name",
											"type": "String"
										},
										"sink": {
											"name": "MODEL-NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Number_Engines",
											"type": "String"
										},
										"sink": {
											"name": "NUMBER-ENGINES",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Number_Seats",
											"type": "String"
										},
										"sink": {
											"name": "NUMBER-SEATS",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "FAA_Merge",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DW_Staging_Aircraft",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Blob Weather to DW",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "DW Truncate Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "AzStorageStaging",
									"type": "LinkedServiceReference"
								},
								"path": "output"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "_id",
											"type": "String"
										},
										"sink": {
											"name": "_id",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "date",
											"type": "String"
										},
										"sink": {
											"name": "weatherDate",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "dateint",
											"type": "String"
										},
										"sink": {
											"name": "weatherDateInt",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "airport",
											"type": "String"
										},
										"sink": {
											"name": "airportCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "temp",
											"type": "String"
										},
										"sink": {
											"name": "temperatureF",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Weather",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DW_Staging_Weather",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "DW Load Dimensions",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ODS Airline to DW",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ODS Airport to DW",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ODS Flight to DW",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Blob FAA to DW",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Blob Weather to DW",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_LoadDimensions]"
						},
						"linkedServiceName": {
							"referenceName": "Azure DW DB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "DW Load Fact",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "DW Load Dimensions",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_LoadFact]"
						},
						"linkedServiceName": {
							"referenceName": "Azure DW DB",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "E2E Sample"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Azure DW DB')]",
				"[concat(variables('factoryId'), '/datasets/ODS_Airline')]",
				"[concat(variables('factoryId'), '/datasets/DW_Staging_Airline')]",
				"[concat(variables('factoryId'), '/datasets/ODS_Airport')]",
				"[concat(variables('factoryId'), '/datasets/DW_Staging_Airport')]",
				"[concat(variables('factoryId'), '/datasets/ODS_Flight')]",
				"[concat(variables('factoryId'), '/datasets/DW_Staging_Flight')]",
				"[concat(variables('factoryId'), '/datasets/FAA_Merge')]",
				"[concat(variables('factoryId'), '/datasets/DW_Staging_Aircraft')]",
				"[concat(variables('factoryId'), '/datasets/Weather')]",
				"[concat(variables('factoryId'), '/datasets/DW_Staging_Weather')]",
				"[concat(variables('factoryId'), '/linkedServices/AzStorageStaging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Load_Transform SAP Data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Booking Data from SAP",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SapTableSource",
								"rfcTableOptions": "",
								"customRfcReadTableFunctionModule": "",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"maxConcurrentConnections": 1
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "MANDT",
											"type": "String"
										},
										"sink": {
											"name": "MANDT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CARRID",
											"type": "String"
										},
										"sink": {
											"name": "CARRID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CONNID",
											"type": "String"
										},
										"sink": {
											"name": "CONNID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FLDATE",
											"type": "String"
										},
										"sink": {
											"name": "FLDATE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BOOKID",
											"type": "String"
										},
										"sink": {
											"name": "BOOKID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CUSTOMID",
											"type": "String"
										},
										"sink": {
											"name": "CUSTOMID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CUSTTYPE",
											"type": "String"
										},
										"sink": {
											"name": "CUSTTYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SMOKER",
											"type": "String"
										},
										"sink": {
											"name": "SMOKER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LUGGWEIGHT",
											"type": "Decimal"
										},
										"sink": {
											"name": "LUGGWEIGHT",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "WUNIT",
											"type": "String"
										},
										"sink": {
											"name": "WUNIT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "INVOICE",
											"type": "String"
										},
										"sink": {
											"name": "INVOICE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CLASS",
											"type": "String"
										},
										"sink": {
											"name": "CLASS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FORCURAM",
											"type": "Decimal"
										},
										"sink": {
											"name": "FORCURAM",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "FORCURKEY",
											"type": "String"
										},
										"sink": {
											"name": "FORCURKEY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LOCCURAM",
											"type": "Decimal"
										},
										"sink": {
											"name": "LOCCURAM",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "LOCCURKEY",
											"type": "String"
										},
										"sink": {
											"name": "LOCCURKEY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ORDER_DATE",
											"type": "String"
										},
										"sink": {
											"name": "ORDER_DATE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "COUNTER",
											"type": "String"
										},
										"sink": {
											"name": "COUNTER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "AGENCYNUM",
											"type": "String"
										},
										"sink": {
											"name": "AGENCYNUM",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CANCELLED",
											"type": "String"
										},
										"sink": {
											"name": "CANCELLED",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RESERVED",
											"type": "String"
										},
										"sink": {
											"name": "RESERVED",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PASSNAME",
											"type": "String"
										},
										"sink": {
											"name": "PASSNAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PASSFORM",
											"type": "String"
										},
										"sink": {
											"name": "PASSFORM",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PASSBIRTH",
											"type": "String"
										},
										"sink": {
											"name": "PASSBIRTH",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "1_SRC_SAP_SBook",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "2_STG_SBook",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge-Denormalize SAP Data",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy Booking Data from SAP",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy Customer Data from SAP",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy Flight Data from AWS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow1",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Booking": {},
									"Customer": {},
									"Flight": {},
									"IncomeByCity": {},
									"DenormalizedDataAsCSV": {}
								}
							},
							"staging": {}
						}
					},
					{
						"name": "Copy Customer Data from SAP",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SapTableSource",
								"rfcTableOptions": "",
								"customRfcReadTableFunctionModule": "",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "MANDT",
											"type": "String"
										},
										"sink": {
											"name": "MANDT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ID",
											"type": "String"
										},
										"sink": {
											"name": "ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NAME",
											"type": "String"
										},
										"sink": {
											"name": "NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FORM",
											"type": "String"
										},
										"sink": {
											"name": "FORM",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "STREET",
											"type": "String"
										},
										"sink": {
											"name": "STREET",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "POSTBOX",
											"type": "String"
										},
										"sink": {
											"name": "POSTBOX",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "POSTCODE",
											"type": "String"
										},
										"sink": {
											"name": "POSTCODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CITY",
											"type": "String"
										},
										"sink": {
											"name": "CITY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "COUNTRY",
											"type": "String"
										},
										"sink": {
											"name": "COUNTRY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "REGION",
											"type": "String"
										},
										"sink": {
											"name": "REGION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TELEPHONE",
											"type": "String"
										},
										"sink": {
											"name": "TELEPHONE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CUSTTYPE",
											"type": "String"
										},
										"sink": {
											"name": "CUSTTYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DISCOUNT",
											"type": "String"
										},
										"sink": {
											"name": "DISCOUNT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LANGU",
											"type": "String"
										},
										"sink": {
											"name": "LANGU",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "EMAIL",
											"type": "String"
										},
										"sink": {
											"name": "EMAIL",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "WEBUSER",
											"type": "String"
										},
										"sink": {
											"name": "WEBUSER",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "1_SRC_SAP_SCustom",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "2_STG_SCustom",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Flight Data from AWS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "MANDT",
											"type": "String"
										},
										"sink": {
											"name": "MANDT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CARRID",
											"type": "String"
										},
										"sink": {
											"name": "CARRID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CONNID",
											"type": "String"
										},
										"sink": {
											"name": "CONNID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FLDATE",
											"type": "String"
										},
										"sink": {
											"name": "FLDATE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PRICE",
											"type": "Decimal"
										},
										"sink": {
											"name": "PRICE",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "CURRENCY",
											"type": "String"
										},
										"sink": {
											"name": "CURRENCY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PLANETYPE",
											"type": "String"
										},
										"sink": {
											"name": "PLANETYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SEATSMAX",
											"type": "Int32"
										},
										"sink": {
											"name": "SEATSMAX",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SEATSOCC",
											"type": "Int32"
										},
										"sink": {
											"name": "SEATSOCC",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "PAYMENTSUM",
											"type": "Decimal"
										},
										"sink": {
											"name": "PAYMENTSUM",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SEATSMAX_B",
											"type": "Int32"
										},
										"sink": {
											"name": "SEATSMAX_B",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SEATSOCC_B",
											"type": "Int32"
										},
										"sink": {
											"name": "SEATSOCC_B",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SEATSMAX_F",
											"type": "Int32"
										},
										"sink": {
											"name": "SEATSMAX_F",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SEATSOCC_F",
											"type": "Int32"
										},
										"sink": {
											"name": "SEATSOCC_F",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "1_SRC_AWS_SFlight",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "2_STG_SFlight",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "SAP Data Integration"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/1_SRC_SAP_SBook')]",
				"[concat(variables('factoryId'), '/datasets/2_STG_SBook')]",
				"[concat(variables('factoryId'), '/dataflows/dataflow1')]",
				"[concat(variables('factoryId'), '/datasets/1_SRC_SAP_SCustom')]",
				"[concat(variables('factoryId'), '/datasets/2_STG_SCustom')]",
				"[concat(variables('factoryId'), '/datasets/1_SRC_AWS_SFlight')]",
				"[concat(variables('factoryId'), '/datasets/2_STG_SFlight')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Master - Begin DW Load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Send Success E-Mail",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "S3 to Azure Blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-06.eastus2.logic.azure.com:443/workflows/0a63e879180247e7ab67875cbdbaded1/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=cmJjKN8aS5HYuFjBKJJ1pEhkNWFUAt_Np_X81u69JkA",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"dataFactoryName": "@{pipeline().DataFactory}",
								"successtype": "Succeeded",
								"message": "@{activity('S3 to Azure Blob').output.dataWritten}",
								"pipelineName": "@{pipeline().Pipeline}",
								"recipient": "@{pipeline().parameters.recipient}"
							}
						}
					},
					{
						"name": "Send Failure  E-Mail",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "S3 to Azure Blob",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-06.eastus2.logic.azure.com:443/workflows/0a63e879180247e7ab67875cbdbaded1/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=cmJjKN8aS5HYuFjBKJJ1pEhkNWFUAt_Np_X81u69JkA",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"dataFactoryName": "@{pipeline().DataFactory}",
								"successtype": "Failed",
								"message": "@{activity('S3 to Azure Blob').error.message}",
								"pipelineName": "@{pipeline().Pipeline}",
								"recipient": "@{pipeline().parameters.recipient}"
							}
						}
					},
					{
						"name": "S3 to Azure Blob",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "N-Number",
											"type": "String"
										},
										"sink": {
											"name": "N-Number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Serial Number",
											"type": "String"
										},
										"sink": {
											"name": "Serial Number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MFR MDL Code",
											"type": "String"
										},
										"sink": {
											"name": "MFR MDL Code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Eng MFR Code",
											"type": "String"
										},
										"sink": {
											"name": "Eng MFR Code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Year MFR",
											"type": "String"
										},
										"sink": {
											"name": "Year MFR",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Type Registrant",
											"type": "String"
										},
										"sink": {
											"name": "Type Registrant",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Street 1",
											"type": "String"
										},
										"sink": {
											"name": "Street 1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Street2",
											"type": "String"
										},
										"sink": {
											"name": "Street2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String"
										},
										"sink": {
											"name": "City",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String"
										},
										"sink": {
											"name": "State",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ZIP",
											"type": "String"
										},
										"sink": {
											"name": "ZIP",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Region",
											"type": "String"
										},
										"sink": {
											"name": "Region",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "County ",
											"type": "String"
										},
										"sink": {
											"name": "County ",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String"
										},
										"sink": {
											"name": "Country",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Last Activity Date",
											"type": "String"
										},
										"sink": {
											"name": "Last Activity Date",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Cert Issue Date",
											"type": "String"
										},
										"sink": {
											"name": "Cert Issue Date",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Certification Requested ",
											"type": "String"
										},
										"sink": {
											"name": "Certification Requested ",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Type Aircraft",
											"type": "String"
										},
										"sink": {
											"name": "Type Aircraft",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Type Engine",
											"type": "String"
										},
										"sink": {
											"name": "Type Engine",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Status Code",
											"type": "String"
										},
										"sink": {
											"name": "Status Code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Mode S Code",
											"type": "String"
										},
										"sink": {
											"name": "Mode S Code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Fractional  Ownership",
											"type": "String"
										},
										"sink": {
											"name": "Fractional  Ownership",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Airworthiness Date",
											"type": "String"
										},
										"sink": {
											"name": "Airworthiness Date",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Other Name 1",
											"type": "String"
										},
										"sink": {
											"name": "Other Name 1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Other Name 2",
											"type": "String"
										},
										"sink": {
											"name": "Other Name 2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Other Name 3",
											"type": "String"
										},
										"sink": {
											"name": "Other Name 3",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Other Name 4",
											"type": "String"
										},
										"sink": {
											"name": "Other Name 4",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Other Name 5",
											"type": "String"
										},
										"sink": {
											"name": "Other Name 5",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Expiration Date",
											"type": "String"
										},
										"sink": {
											"name": "Expiration Date",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Unique ID",
											"type": "String"
										},
										"sink": {
											"name": "Unique ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Kit MFR Code",
											"type": "String"
										},
										"sink": {
											"name": "Kit MFR Code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Kit Model",
											"type": "String"
										},
										"sink": {
											"name": "Kit Model",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Mose S Code Hex",
											"type": "String"
										},
										"sink": {
											"name": "Mose S Code Hex",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "AWS_S3_Source_Data_FAA",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Azure_Blob_Master_FA_File",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Load DW",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Send Success E-Mail",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load Datawarehouse",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"parameters": {
					"recipient": {
						"type": "string",
						"defaultValue": "mesengne@microsoft.com"
					}
				},
				"folder": {
					"name": "E2E Sample"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AWS_S3_Source_Data_FAA')]",
				"[concat(variables('factoryId'), '/datasets/Azure_Blob_Master_FA_File')]",
				"[concat(variables('factoryId'), '/pipelines/Load Datawarehouse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Merge FAA Files')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Run FAA Hive Merge",
						"type": "HDInsightHive",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"scriptPath": "input/FAAMerge.hql",
							"scriptLinkedService": {
								"referenceName": "AzStorageStaging",
								"type": "LinkedServiceReference"
							}
						},
						"linkedServiceName": {
							"referenceName": "HDI_ADFLab",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "E2E Sample"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzStorageStaging')]",
				"[concat(variables('factoryId'), '/linkedServices/HDI_ADFLab')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Weather to Blob Copy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_dyl",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Destination",
								"value": "/"
							}
						],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_dyl",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_dyl",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "E2E Sample"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_dyl')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_dyl')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/1_SRC_AWS_SFlight')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AWS_S3_Source",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SAP Scenario Data Sources"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "SFLIGHT.txt",
						"container": "adf-sample-files"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "MANDT",
						"type": "String"
					},
					{
						"name": "CARRID",
						"type": "String"
					},
					{
						"name": "CONNID",
						"type": "String"
					},
					{
						"name": "FLDATE",
						"type": "String"
					},
					{
						"name": "PRICE",
						"type": "String"
					},
					{
						"name": "CURRENCY",
						"type": "String"
					},
					{
						"name": "PLANETYPE",
						"type": "String"
					},
					{
						"name": "SEATSMAX",
						"type": "String"
					},
					{
						"name": "SEATSOCC",
						"type": "String"
					},
					{
						"name": "PAYMENTSUM",
						"type": "String"
					},
					{
						"name": "SEATSMAX_B",
						"type": "String"
					},
					{
						"name": "SEATSOCC_B",
						"type": "String"
					},
					{
						"name": "SEATSMAX_F",
						"type": "String"
					},
					{
						"name": "SEATSOCC_F",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AWS_S3_Source')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/1_SRC_SAP_SBook')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SapTable1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SAP Scenario Data Sources"
				},
				"annotations": [],
				"type": "SapTableResource",
				"schema": [],
				"typeProperties": {
					"tableName": "SBOOK"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SapTable1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/1_SRC_SAP_SCustom')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SapTable1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SAP Scenario Data Sources"
				},
				"annotations": [],
				"type": "SapTableResource",
				"schema": [],
				"typeProperties": {
					"tableName": "SCUSTOM"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SapTable1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/2_STG_SBook')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzStorageStaging",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SAP Scenario Data Sources"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "SBOOK.txt",
						"folderPath": "STG_Booking",
						"container": "sapdata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "MANDT",
						"type": "String"
					},
					{
						"name": "CARRID",
						"type": "String"
					},
					{
						"name": "CONNID",
						"type": "String"
					},
					{
						"name": "FLDATE",
						"type": "String"
					},
					{
						"name": "BOOKID",
						"type": "String"
					},
					{
						"name": "CUSTOMID",
						"type": "String"
					},
					{
						"name": "CUSTTYPE",
						"type": "String"
					},
					{
						"name": "SMOKER",
						"type": "String"
					},
					{
						"name": "LUGGWEIGHT",
						"type": "String"
					},
					{
						"name": "WUNIT",
						"type": "String"
					},
					{
						"name": "INVOICE",
						"type": "String"
					},
					{
						"name": "CLASS",
						"type": "String"
					},
					{
						"name": "FORCURAM",
						"type": "String"
					},
					{
						"name": "FORCURKEY",
						"type": "String"
					},
					{
						"name": "LOCCURAM",
						"type": "String"
					},
					{
						"name": "LOCCURKEY",
						"type": "String"
					},
					{
						"name": "ORDER_DATE",
						"type": "String"
					},
					{
						"name": "COUNTER",
						"type": "String"
					},
					{
						"name": "AGENCYNUM",
						"type": "String"
					},
					{
						"name": "CANCELLED",
						"type": "String"
					},
					{
						"name": "RESERVED",
						"type": "String"
					},
					{
						"name": "PASSNAME",
						"type": "String"
					},
					{
						"name": "PASSFORM",
						"type": "String"
					},
					{
						"name": "PASSBIRTH",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzStorageStaging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/2_STG_SCustom')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzStorageStaging",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SAP Scenario Data Sources"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "SCUSTOM.txt",
						"folderPath": "STG_Customer",
						"container": "sapdata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "MANDT",
						"type": "String"
					},
					{
						"name": "ID",
						"type": "String"
					},
					{
						"name": "NAME",
						"type": "String"
					},
					{
						"name": "FORM",
						"type": "String"
					},
					{
						"name": "STREET",
						"type": "String"
					},
					{
						"name": "POSTBOX",
						"type": "String"
					},
					{
						"name": "POSTCODE",
						"type": "String"
					},
					{
						"name": "CITY",
						"type": "String"
					},
					{
						"name": "COUNTRY",
						"type": "String"
					},
					{
						"name": "REGION",
						"type": "String"
					},
					{
						"name": "TELEPHONE",
						"type": "String"
					},
					{
						"name": "CUSTTYPE",
						"type": "String"
					},
					{
						"name": "DISCOUNT",
						"type": "String"
					},
					{
						"name": "LANGU",
						"type": "String"
					},
					{
						"name": "EMAIL",
						"type": "String"
					},
					{
						"name": "WEBUSER",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzStorageStaging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/2_STG_SFlight')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzStorageStaging",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SAP Scenario Data Sources"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "SFLIGHT.txt",
						"folderPath": "STG_Flight",
						"container": "sapdata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "MANDT",
						"type": "String"
					},
					{
						"name": "CARRID",
						"type": "String"
					},
					{
						"name": "CONNID",
						"type": "String"
					},
					{
						"name": "FLDATE",
						"type": "String"
					},
					{
						"name": "PRICE",
						"type": "String"
					},
					{
						"name": "CURRENCY",
						"type": "String"
					},
					{
						"name": "PLANETYPE",
						"type": "String"
					},
					{
						"name": "SEATSMAX",
						"type": "String"
					},
					{
						"name": "SEATSOCC",
						"type": "String"
					},
					{
						"name": "PAYMENTSUM",
						"type": "String"
					},
					{
						"name": "SEATSMAX_B",
						"type": "String"
					},
					{
						"name": "SEATSOCC_B",
						"type": "String"
					},
					{
						"name": "SEATSMAX_F",
						"type": "String"
					},
					{
						"name": "SEATSOCC_F",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzStorageStaging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/3_RSLT_DenormalizedDatamartCsv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzStorageStaging",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SAP Scenario Data Sources"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "RESULT_DataSet",
						"container": "sapdata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzStorageStaging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/3_RSLT_IncomeByCity')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzStorageStaging",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SAP Scenario Data Sources"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "RESULT_DataSet",
						"container": "sapdata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzStorageStaging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AWS_S3_Source_Data_FAA')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AWS_S3_Source",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "E2E Scenario Data Sources"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "FAAmaster.txt",
						"container": "adf-sample-files"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "N-Number",
						"type": "String"
					},
					{
						"name": "Serial Number",
						"type": "String"
					},
					{
						"name": "MFR MDL Code",
						"type": "String"
					},
					{
						"name": "Eng MFR Code",
						"type": "String"
					},
					{
						"name": "Year MFR",
						"type": "String"
					},
					{
						"name": "Type Registrant",
						"type": "String"
					},
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "Street 1",
						"type": "String"
					},
					{
						"name": "Street2",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "State",
						"type": "String"
					},
					{
						"name": "ZIP",
						"type": "String"
					},
					{
						"name": "Region",
						"type": "String"
					},
					{
						"name": "County ",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Last Activity Date",
						"type": "String"
					},
					{
						"name": "Cert Issue Date",
						"type": "String"
					},
					{
						"name": "Certification Requested ",
						"type": "String"
					},
					{
						"name": "Type Aircraft",
						"type": "String"
					},
					{
						"name": "Type Engine",
						"type": "String"
					},
					{
						"name": "Status Code",
						"type": "String"
					},
					{
						"name": "Mode S Code",
						"type": "String"
					},
					{
						"name": "Fractional  Ownership",
						"type": "String"
					},
					{
						"name": "Airworthiness Date",
						"type": "String"
					},
					{
						"name": "Other Name 1",
						"type": "String"
					},
					{
						"name": "Other Name 2",
						"type": "String"
					},
					{
						"name": "Other Name 3",
						"type": "String"
					},
					{
						"name": "Other Name 4",
						"type": "String"
					},
					{
						"name": "Other Name 5",
						"type": "String"
					},
					{
						"name": "Expiration Date",
						"type": "String"
					},
					{
						"name": "Unique ID",
						"type": "String"
					},
					{
						"name": "Kit MFR Code",
						"type": "String"
					},
					{
						"name": "Kit Model",
						"type": "String"
					},
					{
						"name": "Mose S Code Hex",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AWS_S3_Source')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Azure_Blob_Master_FA_File')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzStorageStaging",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "E2E Scenario Data Sources"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "FAAmaster.txt",
						"folderPath": "FAAmaster",
						"container": "input"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "N-Number",
						"type": "String"
					},
					{
						"name": "Serial Number",
						"type": "String"
					},
					{
						"name": "MFR MDL Code",
						"type": "String"
					},
					{
						"name": "Eng MFR Code",
						"type": "String"
					},
					{
						"name": "Year MFR",
						"type": "String"
					},
					{
						"name": "Type Registrant",
						"type": "String"
					},
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "Street 1",
						"type": "String"
					},
					{
						"name": "Street2",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "State",
						"type": "String"
					},
					{
						"name": "ZIP",
						"type": "String"
					},
					{
						"name": "Region",
						"type": "String"
					},
					{
						"name": "County ",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Last Activity Date",
						"type": "String"
					},
					{
						"name": "Cert Issue Date",
						"type": "String"
					},
					{
						"name": "Certification Requested ",
						"type": "String"
					},
					{
						"name": "Type Aircraft",
						"type": "String"
					},
					{
						"name": "Type Engine",
						"type": "String"
					},
					{
						"name": "Status Code",
						"type": "String"
					},
					{
						"name": "Mode S Code",
						"type": "String"
					},
					{
						"name": "Fractional  Ownership",
						"type": "String"
					},
					{
						"name": "Airworthiness Date",
						"type": "String"
					},
					{
						"name": "Other Name 1",
						"type": "String"
					},
					{
						"name": "Other Name 2",
						"type": "String"
					},
					{
						"name": "Other Name 3",
						"type": "String"
					},
					{
						"name": "Other Name 4",
						"type": "String"
					},
					{
						"name": "Other Name 5",
						"type": "String"
					},
					{
						"name": "Expiration Date",
						"type": "String"
					},
					{
						"name": "Unique ID",
						"type": "String"
					},
					{
						"name": "Kit MFR Code",
						"type": "String"
					},
					{
						"name": "Kit Model",
						"type": "String"
					},
					{
						"name": "Mose S Code Hex",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzStorageStaging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DW_Staging_Aircraft')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure DW DB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "E2E Scenario Data Sources"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "N-Number",
						"type": "nvarchar"
					},
					{
						"name": "Serial Number",
						"type": "nvarchar"
					},
					{
						"name": "Year MFR",
						"type": "nvarchar"
					},
					{
						"name": "MFR-NAME",
						"type": "nvarchar"
					},
					{
						"name": "MODEL-NAME",
						"type": "nvarchar"
					},
					{
						"name": "NUMBER-ENGINES",
						"type": "nvarchar"
					},
					{
						"name": "NUMBER-SEATS",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"tableName": "[[Staging].[DimAircraft]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Azure DW DB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DW_Staging_Airline')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure DW DB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "E2E Scenario Data Sources"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "Code",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Airline_Code",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"tableName": "[[Staging].[DimAirline]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Azure DW DB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DW_Staging_Airport')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure DW DB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "E2E Scenario Data Sources"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "Code",
						"type": "varchar"
					},
					{
						"name": "City_Airport",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"tableName": "[[Staging].[DimAirport]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Azure DW DB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DW_Staging_Flight')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure DW DB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "E2E Scenario Data Sources"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "YEAR",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "MONTH",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "FL_DATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "UNIQUE_CARRIER",
						"type": "varchar"
					},
					{
						"name": "AIRLINE_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CARRIER",
						"type": "varchar"
					},
					{
						"name": "TAIL_NUM",
						"type": "varchar"
					},
					{
						"name": "FL_NUM",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ORIGIN_AIRPORT_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ORIGIN_AIRPORT_SEQ_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ORIGIN_CITY_MARKET_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DEST_AIRPORT_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DEST_AIRPORT_SEQ_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DEST_CITY_MARKET_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DEP_TIME",
						"type": "varchar"
					},
					{
						"name": "DEP_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "DEP_DELAY_NEW",
						"type": "float",
						"precision": 15
					},
					{
						"name": "TAXI_OUT",
						"type": "float",
						"precision": 15
					},
					{
						"name": "WHEELS_OFF",
						"type": "varchar"
					},
					{
						"name": "WHEELS_ON",
						"type": "varchar"
					},
					{
						"name": "TAXI_IN",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ARR_TIME",
						"type": "varchar"
					},
					{
						"name": "ARR_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ARR_DELAY_NEW",
						"type": "float",
						"precision": 15
					},
					{
						"name": "CANCELLED",
						"type": "bit"
					},
					{
						"name": "CANCELLATION_CODE",
						"type": "varchar"
					},
					{
						"name": "ACTUAL_ELAPSED_TIME",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AIR_TIME",
						"type": "float",
						"precision": 15
					},
					{
						"name": "FLIGHTS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DISTANCE",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CARRIER_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "WEATHER_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "NAS_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "SECURITY_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "LATE_AIRCRAFT_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "DEST_CODE",
						"type": "varchar"
					},
					{
						"name": "ORIGIN_CODE",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"tableName": "[[Staging].[FlightFact]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Azure DW DB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DW_Staging_Weather')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure DW DB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "E2E Scenario Data Sources"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "_id",
						"type": "varchar"
					},
					{
						"name": "weatherDate",
						"type": "varchar"
					},
					{
						"name": "weatherDateInt",
						"type": "int",
						"precision": 10
					},
					{
						"name": "airportCode",
						"type": "varchar"
					},
					{
						"name": "temperatureF",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"tableName": "[[Staging].[Weather]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Azure DW DB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AWS_S3_Source",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "E2E Scenario Data Sources"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "adf-sample-files"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AWS_S3_Source')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_dyl')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzStorageStaging",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "E2E Scenario Data Sources"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "201612-WeatherData.txt",
						"container": "input"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "_id",
						"type": "String"
					},
					{
						"name": "date",
						"type": "String"
					},
					{
						"name": "dateint",
						"type": "String"
					},
					{
						"name": "airport",
						"type": "String"
					},
					{
						"name": "temp",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzStorageStaging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FAA_Merge')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzStorageStaging",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "E2E Scenario Data Sources"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "000000_0",
						"folderPath": "FAAMerge",
						"container": "output"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "N_Number",
						"type": "String"
					},
					{
						"name": "Serial_Number",
						"type": "String"
					},
					{
						"name": "Year_MFR",
						"type": "String"
					},
					{
						"name": "MFR_Name",
						"type": "String"
					},
					{
						"name": "Model_Name",
						"type": "String"
					},
					{
						"name": "Number_Engines",
						"type": "String"
					},
					{
						"name": "Number_Seats",
						"type": "String"
					},
					{
						"name": "0",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzStorageStaging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ODS_Airline')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure ODS DB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "E2E Scenario Data Sources"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Code",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Airline_Code",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[Airline]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Azure ODS DB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ODS_Airport')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure ODS DB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "E2E Scenario Data Sources"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Code",
						"type": "varchar"
					},
					{
						"name": "City_Airport",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[Airport]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Azure ODS DB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ODS_Flight')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure ODS DB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "E2E Scenario Data Sources"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "YEAR",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "MONTH",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "FL_DATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "UNIQUE_CARRIER",
						"type": "varchar"
					},
					{
						"name": "AIRLINE_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CARRIER",
						"type": "varchar"
					},
					{
						"name": "TAIL_NUM",
						"type": "varchar"
					},
					{
						"name": "FL_NUM",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ORIGIN_AIRPORT_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ORIGIN_AIRPORT_SEQ_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ORIGIN_CITY_MARKET_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DEST_AIRPORT_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DEST_AIRPORT_SEQ_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DEST_CITY_MARKET_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DEP_TIME",
						"type": "varchar"
					},
					{
						"name": "DEP_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "DEP_DELAY_NEW",
						"type": "float",
						"precision": 15
					},
					{
						"name": "TAXI_OUT",
						"type": "float",
						"precision": 15
					},
					{
						"name": "WHEELS_OFF",
						"type": "varchar"
					},
					{
						"name": "WHEELS_ON",
						"type": "varchar"
					},
					{
						"name": "TAXI_IN",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ARR_TIME",
						"type": "varchar"
					},
					{
						"name": "ARR_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ARR_DELAY_NEW",
						"type": "float",
						"precision": 15
					},
					{
						"name": "CANCELLED",
						"type": "bit"
					},
					{
						"name": "CANCELLATION_CODE",
						"type": "varchar"
					},
					{
						"name": "ACTUAL_ELAPSED_TIME",
						"type": "float",
						"precision": 15
					},
					{
						"name": "AIR_TIME",
						"type": "float",
						"precision": 15
					},
					{
						"name": "FLIGHTS",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DISTANCE",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CARRIER_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "WEATHER_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "NAS_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "SECURITY_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "LATE_AIRCRAFT_DELAY",
						"type": "float",
						"precision": 15
					},
					{
						"name": "DEST_CODE",
						"type": "varchar"
					},
					{
						"name": "ORIGIN_CODE",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[Flight]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Azure ODS DB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_dyl')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "HTTPWeather",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "E2E Scenario Data Sources"
				},
				"annotations": [],
				"type": "HttpFile",
				"structure": [
					{
						"name": "_id",
						"type": "String"
					},
					{
						"name": "date",
						"type": "String"
					},
					{
						"name": "dateint",
						"type": "Int64"
					},
					{
						"name": "airport",
						"type": "String"
					},
					{
						"name": "temp",
						"type": "Int64"
					}
				],
				"typeProperties": {
					"format": {
						"type": "JsonFormat",
						"filePattern": "arrayOfObjects",
						"jsonPathDefinition": {
							"_id": "$.['_id']",
							"date": "$.['date']",
							"dateint": "$.['dateint']",
							"airport": "$.['airport']",
							"temp": "$.['temp']"
						}
					},
					"requestMethod": "GET",
					"additionalHeaders": "x-apikey: 5a31643dcb25c1076c7cd9ab\nContent-Type: application/json"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/HTTPWeather')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Weather')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzStorageStaging",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "E2E Scenario Data Sources"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "201612-WeatherData.txt",
						"container": "input"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "_id",
						"type": "String"
					},
					{
						"name": "date",
						"type": "String"
					},
					{
						"name": "dateint",
						"type": "String"
					},
					{
						"name": "airport",
						"type": "String"
					},
					{
						"name": "temp",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzStorageStaging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AWS_S3_Source')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AWS_S3_Source_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzStorageStaging')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzStorageStaging_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Azure DW DB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('Azure DW DB_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Azure ODS DB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('Azure ODS DB_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HDI_ADFLab')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HDInsightOnDemand",
				"typeProperties": {
					"clusterType": "hadoop",
					"clusterSize": 4,
					"timeToLive": "00:05:00",
					"version": "3.6",
					"hostSubscriptionId": "[parameters('HDI_ADFLab_properties_typeProperties_hostSubscriptionId')]",
					"clusterResourceGroup": "[parameters('HDI_ADFLab_properties_typeProperties_clusterResourceGroup')]",
					"servicePrincipalId": "[parameters('HDI_ADFLab_properties_typeProperties_servicePrincipalId')]",
					"osType": "Linux",
					"tenant": "[parameters('HDI_ADFLab_properties_typeProperties_tenant')]",
					"clusterNamePrefix": "",
					"clusterPassword": {
						"type": "SecureString",
						"value": "[parameters('HDI_ADFLab_clusterPassword')]"
					},
					"clusterSshUserName": "[parameters('HDI_ADFLab_properties_typeProperties_clusterSshUserName')]",
					"clusterSshPassword": {
						"type": "SecureString",
						"value": "[parameters('HDI_ADFLab_clusterSshPassword')]"
					},
					"servicePrincipalKey": {
						"type": "SecureString",
						"value": "[parameters('HDI_ADFLab_servicePrincipalKey')]"
					},
					"linkedServiceName": {
						"referenceName": "AzStorageStaging",
						"type": "LinkedServiceReference"
					},
					"headNodeSize": "",
					"dataNodeSize": "",
					"zookeeperNodeSize": "",
					"subnetName": "",
					"virtualNetworkId": ""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzStorageStaging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/HTTPWeather')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('HTTPWeather_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SapBw1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SapBw",
				"typeProperties": {
					"server": "[parameters('SapBw1_properties_typeProperties_server')]",
					"systemNumber": "[parameters('SapBw1_properties_typeProperties_systemNumber')]",
					"clientId": "[parameters('SapBw1_properties_typeProperties_clientId')]",
					"userName": "[parameters('SapBw1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SapBw1_password')]"
					}
				},
				"connectVia": {
					"referenceName": "[parameters('integrationRuntime_integrationRuntimeSAPJump')]",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/', parameters('integrationRuntime_integrationRuntimeSAPJump'))]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SapTable1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SapTable",
				"typeProperties": {
					"clientId": "[parameters('SapTable1_properties_typeProperties_clientId')]",
					"language": "EN",
					"sncMode": false,
					"userName": "[parameters('SapTable1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SapTable1_password')]"
					},
					"server": "[parameters('SapTable1_properties_typeProperties_server')]",
					"systemNumber": "[parameters('SapTable1_properties_typeProperties_systemNumber')]"
				},
				"connectVia": {
					"referenceName": "[parameters('integrationRuntime_integrationRuntimeSAPJump')]",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/', parameters('integrationRuntime_integrationRuntimeSAPJump'))]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Daily - DW Load Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2019-06-25T18:31:00.000Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								38
							],
							"hours": [
								18
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/', parameters('integrationRuntime_integrationRuntimeSAP'))]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/', parameters('integrationRuntime_integrationRuntimeSAPJump'))]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "2_STG_SBook",
								"type": "DatasetReference"
							},
							"name": "Booking",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "2_STG_SCustom",
								"type": "DatasetReference"
							},
							"name": "Customer",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "2_STG_SFlight",
								"type": "DatasetReference"
							},
							"name": "Flight",
							"typeProperties": {}
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "3_RSLT_IncomeByCity",
								"type": "DatasetReference"
							},
							"name": "IncomeByCity"
						},
						{
							"dataset": {
								"referenceName": "3_RSLT_DenormalizedDatamartCsv",
								"type": "DatasetReference"
							},
							"name": "DenormalizedDataAsCSV"
						}
					],
					"transformations": [
						{
							"name": "JoinCustomerNBooking"
						},
						{
							"name": "Aggregate1"
						},
						{
							"name": "JoinFlightNBooking"
						},
						{
							"name": "JoinAll"
						},
						{
							"name": "OccupiedMoreThan300"
						},
						{
							"name": "RemoveDuplicatedColumns"
						}
					],
					"script": "\n\nsource(output(\n\t\tMANDT as string,\n\t\tCARRID as string,\n\t\tCONNID as string,\n\t\tFLDATE as string,\n\t\tBOOKID as string,\n\t\tCUSTOMID as string,\n\t\tCUSTTYPE as string,\n\t\tSMOKER as string,\n\t\tLUGGWEIGHT as string,\n\t\tWUNIT as string,\n\t\tINVOICE as string,\n\t\tCLASS as string,\n\t\tFORCURAM as string,\n\t\tFORCURKEY as string,\n\t\tLOCCURAM as integer,\n\t\tLOCCURKEY as string,\n\t\tORDER_DATE as string,\n\t\tCOUNTER as string,\n\t\tAGENCYNUM as string,\n\t\tCANCELLED as string,\n\t\tRESERVED as string,\n\t\tPASSNAME as string,\n\t\tPASSFORM as string,\n\t\tPASSBIRTH as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> Booking\nsource(output(\n\t\tMANDT as string,\n\t\tID as string,\n\t\tNAME as string,\n\t\tFORM as string,\n\t\tSTREET as string,\n\t\tPOSTBOX as string,\n\t\tPOSTCODE as string,\n\t\tCITY as string,\n\t\tCOUNTRY as string,\n\t\tREGION as string,\n\t\tTELEPHONE as string,\n\t\tCUSTTYPE as string,\n\t\tDISCOUNT as string,\n\t\tLANGU as string,\n\t\tEMAIL as string,\n\t\tWEBUSER as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> Customer\nsource(output(\n\t\tMANDT as string,\n\t\tCARRID as string,\n\t\tCONNID as string,\n\t\tFLDATE as string,\n\t\tPRICE as string,\n\t\tCURRENCY as string,\n\t\tPLANETYPE as string,\n\t\tSEATSMAX as string,\n\t\tSEATSOCC as integer,\n\t\tPAYMENTSUM as string,\n\t\tSEATSMAX_B as string,\n\t\tSEATSOCC_B as string,\n\t\tSEATSMAX_F as string,\n\t\tSEATSOCC_F as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> Flight\nBooking, Customer join(CUSTOMID == ID,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> JoinCustomerNBooking\nJoinCustomerNBooking aggregate(groupBy(CITY),\n\tLOCCURAM = sum(LOCCURAM),\n\tpartitionBy('hash', 1)) ~> Aggregate1\nOccupiedMoreThan300, Booking join(Flight@CONNID == Booking@CONNID\n\t&& Flight@FLDATE == Booking@FLDATE,\n\tjoinType:'inner',\n\tpartitionBy('hash', 1),\n\tbroadcast: 'none')~> JoinFlightNBooking\nJoinFlightNBooking, Customer join(CUSTOMID == ID,\n\tjoinType:'inner',\n\tpartitionBy('hash', 1),\n\tbroadcast: 'none')~> JoinAll\nFlight filter(SEATSOCC > 300) ~> OccupiedMoreThan300\nJoinAll select(mapColumn(\n\t\tCARRID = Flight@CARRID,\n\t\tCONNID = Flight@CONNID,\n\t\tFLDATE = Flight@FLDATE,\n\t\tPRICE,\n\t\tCURRENCY,\n\t\tPLANETYPE,\n\t\tSEATSMAX,\n\t\tSEATSOCC,\n\t\tPAYMENTSUM,\n\t\tSEATSMAX_B,\n\t\tSEATSOCC_B,\n\t\tSEATSMAX_F,\n\t\tSEATSOCC_F,\n\t\tBOOKID,\n\t\tCUSTOMID,\n\t\tSMOKER,\n\t\tLUGGWEIGHT,\n\t\tWUNIT,\n\t\tINVOICE,\n\t\tCLASS,\n\t\tFORCURAM,\n\t\tFORCURKEY,\n\t\tLOCCURAM,\n\t\tLOCCURKEY,\n\t\tORDER_DATE,\n\t\tCOUNTER,\n\t\tAGENCYNUM,\n\t\tCANCELLED,\n\t\tRESERVED,\n\t\tPASSNAME,\n\t\tPASSFORM,\n\t\tPASSBIRTH,\n\t\tMANDT = Customer@MANDT,\n\t\tID,\n\t\tNAME,\n\t\tFORM,\n\t\tSTREET,\n\t\tPOSTBOX,\n\t\tPOSTCODE,\n\t\tCITY,\n\t\tCOUNTRY,\n\t\tREGION,\n\t\tTELEPHONE,\n\t\tCUSTTYPE = Customer@CUSTTYPE,\n\t\tDISCOUNT,\n\t\tLANGU,\n\t\tEMAIL,\n\t\tWEBUSER\n\t),\n\tskipDuplicateMapInputs: false,\n\tskipDuplicateMapOutputs: false) ~> RemoveDuplicatedColumns\nAggregate1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\temptyLinesAsHeader: 1,\n\tfilePattern:'IncomeByCity',\n\tmapColumn(\n\t\tCITY,\n\t\tLOCCURAM\n\t)) ~> IncomeByCity\nRemoveDuplicatedColumns sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\temptyLinesAsHeader: 1,\n\tfilePattern:'DenormalizedData_OccupiedMoreThan300',\n\tmapColumn(\n\t\tCARRID,\n\t\tCONNID,\n\t\tFLDATE,\n\t\tPRICE,\n\t\tCURRENCY,\n\t\tPLANETYPE,\n\t\tSEATSMAX,\n\t\tSEATSOCC,\n\t\tPAYMENTSUM,\n\t\tSEATSMAX_B,\n\t\tSEATSOCC_B,\n\t\tSEATSMAX_F,\n\t\tSEATSOCC_F,\n\t\tBOOKID,\n\t\tCUSTOMID,\n\t\tSMOKER,\n\t\tLUGGWEIGHT,\n\t\tWUNIT,\n\t\tINVOICE,\n\t\tCLASS,\n\t\tFORCURAM,\n\t\tFORCURKEY,\n\t\tLOCCURAM,\n\t\tLOCCURKEY,\n\t\tORDER_DATE,\n\t\tCOUNTER,\n\t\tAGENCYNUM,\n\t\tCANCELLED,\n\t\tRESERVED,\n\t\tPASSNAME,\n\t\tPASSFORM,\n\t\tPASSBIRTH,\n\t\tMANDT,\n\t\tID,\n\t\tNAME,\n\t\tFORM,\n\t\tSTREET,\n\t\tPOSTBOX,\n\t\tPOSTCODE,\n\t\tCITY,\n\t\tCOUNTRY,\n\t\tREGION,\n\t\tTELEPHONE,\n\t\tCUSTTYPE,\n\t\tDISCOUNT,\n\t\tLANGU,\n\t\tEMAIL,\n\t\tWEBUSER\n\t),\n\tpartitionBy('hash', 1),\n\tskipDuplicateMapInputs: true) ~> DenormalizedDataAsCSV"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/2_STG_SBook')]",
				"[concat(variables('factoryId'), '/datasets/2_STG_SCustom')]",
				"[concat(variables('factoryId'), '/datasets/2_STG_SFlight')]",
				"[concat(variables('factoryId'), '/datasets/3_RSLT_IncomeByCity')]",
				"[concat(variables('factoryId'), '/datasets/3_RSLT_DenormalizedDatamartCsv')]"
			]
		}
	]
}